{% extends 'professor_layout.html' %}
{% block professor_content %}
<div id="page">
    {% from "formhelpers.html" import render_field %}
    <form method=post action="{{ url_for('professor_page.add_load_page_root') }}" class="form-horizontal">
        {{ form.hidden_tag() }}
        {{ render_field(form.name) }}
        {{ render_field(form.start_period) }}
        {{ render_field(form.end_period) }}
        <p><input type=submit value=Add class="btn btn-default">
    </form>
</div>
{% endblock %}