{% extends 'layout.html' %}
{% block content %}
<div id="page">
    <a href="{{ url_for('professor_page.load_page_root', id=load_page_id) }}"><< Вернутся на лист</a>
    {% if load_page|length == 0 %}
    Нагрузочный лист пуст
    {% else %}
    <table class="table">
        <thead>
        <tr>
            <th>№</th>
            <th>Вид роботи</th>
            <th>Теор. вартість,бал.</th>
            <th>Факт, балів</th>
            <th>Кількість, шт.</th>
            <th>Тип</th>
        </tr>
        </thead>
        <tbody>
        {% for i in load_page%}
        <tr>
            <td>{{ loop.index }}</td>
            <td>{{ i.work_type.name }}</td>
            <td>{{ i.work_type.mark }}</td>
            <td>{{ i.mark }}</td>
            <td>{{ i.count }}</td>
            <td>{{ i.work_type.subtype.name }}</td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
    {% endif %}
    <br>
    <a href="{{ url_for('professor_page.add_load_page', id=load_page_id) }}">Добавить элемент</a>
</div>
{% endblock %}