{% extends "layout.html" %}
{% block content %}
<div style="margin: 10px">
    <h3>Добро пожаловать в систему дистанционного обучение ДГМА</h3>

    <strong>Электронный деканат</strong> — это отдельный сервис образовательного портала ВУЗа, который автоматизирует
    организацию и поддержку учебного процесса.
    <br>

    Основной функцией Электронного деканата является хранение и обработка информации о ходе учебного процесса и его
    участниках,
    а также автоматизация взаимодействия между тремя участниками учебного процесса по электронной формой обучения:
    администрация —
    преподаватель — студент. Электронный деканат позволяет выполнять ряд функций традиционного деканата на более
    технологичном уровне,
    значительно сокращая время выполнения определенной работы традиционного деканата.<br>

    Автоматизация деятельности деканата позволяет:<br>
    <ul>
        <li>Значительно сократить время, затрачиваемое сотрудниками деканата на выполнение регламентных процедур
            (например,
            редактирование информации, поиск личных данных студентов и т. д.);
        </li>
        <li>Упростить процедуру действий с данными, которые используются в период учебного процесса;</li>
        <li>Автоматизировать формирование и подготовку на печать необходимых документов.</li>
    </ul>
    Электронный деканат должен обеспечивать организацию процесса обучения, а именно:<br>
    <ul>
        <li>Хранение и обработку информации об участниках учебного процесса: учащихся, преподавателях, методистах и
            руководителях учебного заведения.
        </li>
        <li>Управление предоставлением и прекращением доступа участников учебного процесса в соответствии с текущей
            потребность (учебным планом, нагрузкой, должностными обязанностями).
        </li>
        <li>Управление учебным планам (учебные программы, специальности, траектории, формирование и внесение изменений в
            образцы учебных планов).
        </li>
        <li>Управление организацией и ходом учебного процесса и сохранением его истории(академические группы и
            подгруппы,
            потоки, подписки на дисциплины, текущие учебные планы, нагрузка преподавателей).
        </li>
        <li>Управление текущими и итоговыми оценкам, контрольными точками.</li>
        <li>Формирование и отслеживание расписания.</li>
        <li>Распределение аудиторного фонда и других ресурсов, задействованных в учебном процессе.</li>
    </ul>
</div>
{% endblock %}