{% extends "professor_layout.html" %}
{% block professor_content %}
<style>
    img {
        max-height: 75px;
        max-width: 75px;
        margin: 10px;
    }
</style>
<div id="page">
    <div>
        {% for cathedra in cathedras %}
        <div>
            {% if cathedra.image %}
                <img src="{{  url_for('static', filename=cathedra.image) }}">
            {% endif %}
            <a href="{{ url_for('facility_page.professors', id=cathedra.id) }}">{{ cathedra.name }} ({{cathedra.short_name}})</a>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}
