{% extends 'student_layout.html' %}
{% block scripts %}
    <script src='https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.3.0/Chart.min.js'></script>
    <script>
        var subjects = {{ student.get_subjects_json()|safe }};
        var marksData = {
            labels: Object.keys(subjects),
            datasets: [{
                label: 'Успеваемость студента',
                data: Object.values(subjects),
                backgroundColor: [
                    'rgba(255, 159, 64, 0.2)'
                ],
                borderColor: [
                    'rgba(255, 159, 64, 1)'
                ],
                borderWidth: 1
            }]
        };
        var marks = document.getElementById('marks').getContext('2d');
        new Chart(marks, {
            type: 'radar',
            data: marksData,
            options: {
                responsive: false,
                scale: {
                    ticks: {
                        beginAtZero: true
                    }
                }
            }
        });

    </script>
{% endblock %}

{% block student_content %}
    <div class="col-sm-12"></div>
    <div class="col-sm-4 "><img
            src="{{ url_for('static', filename='photos/no-profile-img.gif') }}"></div>
    <div class="col-sm-8">
        <div class="row">
            <div class="col-sm-3"> Фамилия:</div>
            <div class="col-sm-9"> {{ student.user.second_name }} </div>
            <div class="col-sm-3"> Имя:</div>
            <div class="col-sm-9"> {{ student.user.name }} </div>
            <div class="col-sm-3"> Отчество:</div>
            <div class="col-sm-9"> {{ student.user.middle_name }} </div>
            <div class="col-md-3"> Дата рождения:</div>
            <div class="col-md-9"> {{ student.user.birthday.strftime('%Y %m %d') }}</div>
            <div class="col-md-3"> Группа:</div>
            <div class="col-md-9"> {{ student.group.name }}</div>
            <div class="col-md-3"> Дата поступления:</div>
            <div class="col-md-9"> {{ student.receipt_trimester.start_date.strftime('%Y %m %d') }}</div>
            <div class="col-md-3"> Средний бал:</div>
            <div class="col-md-9"> {{ student.get_avg_mark()|round(1, 'floor') }}</div>
        </div>
    </div>
    <div id="canvas-container">
            <canvas id="marks" width="800" height="400"></canvas>
        </div>
    <div class="clearfix"></div>
    <div class="col-sm-12">
        <div class="row-fluid">
            <table class="table">
                <thead>
                <tr>
                    <th>№</th>
                    <th>Предмет</th>
                    <th>Дата</th>
                    <th>Оценка</th>
                </tr>
                </thead>
                <tbody>
                {% for m in student.get_active_trimester() %}
                    <tr>
                        <td>{{ loop.index }}</td>
                        <td>{{ m.subject.name }}</td>
                        <td>{{ m.date.strftime('%Y/%m/%d') }}</td>
                        <td>{{ m.mark }}</td>
                    </tr>
                {% endfor %}
                </tbody>
        </div>
    </div>
{% endblock %}
