{% extends "layout.html" %}
{% block styles %}
    {{ super() }}
    <style>
        .chart {
            margin-left: auto;
            margin-right: auto;
            margin-top: 10px;
            width: 60%;
            background-color: white;
        }
        #photo {
            float: left;
            margin-left: 10px;
            background-color: white;
            padding: 25px;
        }

        #photo img {
            max-width: 300px;
            max-height: 350px;
        }

        body {
            background-color: #f5f5f5;
        }
        .anket {
            font-size: 18px;
            background-color: white;
        }
    </style>
{% endblock %}
{% block content %}
    {% block scripts %}
        {{ super() }}
        <script src='https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.3.0/Chart.min.js'></script>
    {% endblock %}
    <div class="container">
        <div id="photo">
            <a href="{{ url_for('professor_page.edit') }}">
                {% if student.photo %}
                    <img src="{{ url_for('static', filename=student.photo) }}">
                {% else %}
                    <img src="{{ url_for('static', filename='photos/no-profile-img.gif') }}">
                {% endif %}
            </a>
        </div>
        <div class="container-fluid anket">
            <div class="row">
                <div class="col-md-4"><b>Фамилия:</b></div>
                <div class="col-md-4">{{ student.user.second_name }}</div>
                <div class="col-md-4"><b>Имя:</b></div>
                <div class="col-md-4">{{ student.user.name }}</div>
                <div class="col-md-4"><b>Отчество:</b></div>
                <div class="col-md-4">{{ student.user.middle_name }}</div>
                <div class="col-md-4"><b>Дата рождения</b>:</div>
                <div class="col-md-4">{{ student.user.birthday.strftime('%Y %m %d') }}</div>
                <div class="col-md-4"><b>Группа:</b></div>
                <div class="col-md-4">{{ student.group.name }}</div>
                <div class="col-md-4"><b>Дата поступления</b>:</div>
                <div class="col-md-4">{{ student.receipt_trimester.start_date.strftime('%Y %m %d') }}</div>
                <div class="col-md-4"><b>Средний бал</b>:</div>
                <div class="col-md-4">{{ student.get_avg_mark() }}</div>
            </div>
        </div>
    </div>
    <div class="chart">
        <canvas id="marks" width="800" height="400"></canvas>
    </div>
    <script>
        var subjects = {{ student.get_subjects_json()|safe }};
        var marksData = {
            labels: Object.keys(subjects),
            datasets: [{
                label: 'Успеваемость студента',
                data: Object.values(subjects),
                backgroundColor: [
                    'rgba(255, 99, 132, 0.2)',
                    'rgba(54, 162, 235, 0.2)',
                    'rgba(255, 206, 86, 0.2)',
                    'rgba(75, 192, 192, 0.2)',
                    'rgba(153, 102, 255, 0.2)',
                    'rgba(255, 159, 64, 0.2)'
                ],
                borderColor: [
                    'rgba(255,99,132,1)',
                    'rgba(54, 162, 235, 1)',
                    'rgba(255, 206, 86, 1)',
                    'rgba(75, 192, 192, 1)',
                    'rgba(153, 102, 255, 1)',
                    'rgba(255, 159, 64, 1)'
                ],
                borderWidth: 1
            }]
        };
        var marks = document.getElementById('marks').getContext('2d');
        new Chart(marks, {
            type: 'radar',
            data: marksData,
            options: {
                responsive: false,
                scale: {
                    ticks: {
                        beginAtZero: true
                    }
                }
            }
        });
    </script>
{% endblock %}