{% macro render_field(field) %}
<div class="form-group">
    <label class="col-sm-2 control-label">{{ field.label }}</label>
    {% if field.errors %}
    <div class="col-sm-10 has-error">
        {{ field(class="form-control")|safe }}
        <ul class=error>
            {% for error in field.errors %}
            <li>{{ error }}</li>
            {% endfor %}
        </ul>
    </div>
    {% else %}
    <div class="col-sm-10">
        {{ field(class="form-control")|safe }}
    </div>
    {% endif %}
</div>
{% endmacro %}