{% extends "bootstrap/base.html" %}
{% block metas %}
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
<title>{% block title %} {% endblock %}</title>
<meta name="keywords" content=""/>
<meta name="description" content=""/>
{% endblock %}
{% block styles %}
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"
      integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css"
      integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"
        integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS"
        crossorigin="anonymous"></script>
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/sitebar.css') }}">
<style>
    #page {
        height: 80%;
        width: 1000px;
        margin: 0 auto;
    }
</style>
{% endblock %}
{% block body %}
<h1><a href="#">ДГМА</a></h1>
<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                    data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a href="{{ url_for('site.index') }}" class="navbar-brand">Главная</a>
        </div>
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                {% if not current_user.is_authenticated %}
                    <li><a href="{{ url_for('site.login') }}">Логин</a></li>
                    <li><a href="{{ url_for('site.register') }}">Регистрация</a></li>
                {% else %}
                    <li><a href="#">Электронный деканат</a></li>
                    <li><a href="#">Преподаватели</a></li>
                    <li><a href="#">Студенты</a></li>
                {% endif %}
            </ul>
        </div>
    </div>
</nav>
<div id="wrapper">
    {% if current_user.is_authenticated %}
    <div id="sidebar-wrapper">
        <ul class="sidebar-nav nav-pills nav-stacked" id="menu">
            <li>
                <a href="{{ url_for('professor.personal_page') }}">
                    <span class="fa-stack fa-lg pull-left"><i class="fa fa-dashboard fa-stack-1x "></i></span>Персональная страница</a>
            </li>
            <li>
                <a href="#">
                    <span class="fa-stack fa-lg pull-left"><i class="fa fa-cloud-download fa-stack-1x "></i></span>Факультеты</a>
            </li>
            <li>
                <a href="#">
                    <span class="fa-stack fa-lg pull-left"><i class="fa fa-cart-plus fa-stack-1x "></i></span>Нагрузочный лист</a>
            </li>
            <li>
                <a href="{{ url_for('professor.edit') }}">
                    <span class="fa-stack fa-lg pull-left"><i class="fa fa-youtube-play fa-stack-1x "></i></span>Редактировать данные</a>
            </li>
            <li>
                <a href="{{ url_for('site.logout') }}">
                    <span class="fa-stack fa-lg pull-left"><i class="fa fa-wrench fa-stack-1x "></i></span>Выход</a>
            </li>
        </ul>
    </div>
    {% endif %}
    {% block content %}


    {% endblock %}
</div>
<div id="copyright" class="container">
</div>
{% endblock %}