{% extends 'layout.html' %}
{% block content %}
    <div class="container-fluid text-center">
        <div class="row content">
            <div class="col-sm-2 sidenav">
                <p><a class="btn btn-default btn-block" href="{{ url_for('student_page.detail', id=student.id) }}">Личная
                    страничка</a></p>
                <p><a class="btn btn-default btn-block" href="{{ url_for('student_page.group', id=student.id) }}">Состав
                    группы</a></p>
                <p><a class="btn btn-default btn-block" href="{{ url_for('student_page.all') }}">Рейтинговая система</a></p>
            </div>
            <div class="col-sm-8 text-left">
                <div class="container-fluid well">
                    <div class="row">
                        {% block student_content %} {% endblock %}
                    </div>
                </div>
            </div>
            <div class="col-sm-2 sidenav">
                <p></p>
            </div>
        </div>
    </div>
{% endblock %}