{% extends "layout.html" %}
{% block content %}
<style>
    img {
        max-width: 300px;
        max-height: 350px;
        margin-left: 10px;
    }
</style>
<div style="float: left;">
    <div id="photo">
        <a href="{{ url_for('professor_page.edit') }}">
            {% if person.photo %}
                <img src="{{ url_for('static', filename=person.photo) }}">
            {% else %}
                <img src="{{ url_for('static', filename='photos/no-profile-img.gif') }}">
            {% endif %}
        </a>
    </div>
</div>
<div class="container-fluid">
    <div class="row">
        <div class="col-md-4">Фамилия:</div>
        <div class="col-md-4">{{ person.user.second_name }}</div>
        <div class="col-md-4">Имя:</div>
        <div class="col-md-4">{{ person.user.name }}</div>
        <div class="col-md-4">Отчество:</div>
        <div class="col-md-4">{{ person.user.middle_name }}</div>
        <div class="col-md-4">Дата рождения:</div>
        <div class="col-md-4">{{ person.user.birthday.strftime('%Y %m %d') }}</div>
        <div class="col-md-4">Кафедра:</div>
        <div class="col-md-4">{{ person.cathedra.short_name }}</div>
        <div class="col-md-4">Должность:</div>
        <div class="col-md-4">{{ person.post }}</div>
        <div class="col-md-4">Ученое звание:</div>
        <div class="col-md-4">{{ person.rank }}</div>
        <div class="col-md-4">Ученая степень:</div>
        <div class="col-md-4">{{ person.academic_degree }}</div>
    </div>
</div>
{% endblock %}